parameters:
  level: 9
  paths:
    - src
    - super-admin-command.php
  scanDirectories:
    - vendor/fin-cli/fin-cli/php
  scanFiles:
    - vendor/php-stubs/finpress-stubs/finpress-stubs.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.parameter
    - identifier: missingType.return
